body {
    margin:0;
    padding:0;
}

/*HEADER*/
header {height: 126px;display: block;}
.shell { width:1050px; margin:0 auto; }
header .shell {color: orange;position: relative;height: 126px;text-align: center;}
header .shell section { height:126px; position:absolute; top:0; }
header .shell section.left { left:0; text-align:left; }
header .shell section.right { right:0; text-align:right; }
header .shell section.location { padding-top:38px; font-size:16px; color: black; }
header .shell section.location span { display:block; }

/* HEADER - SOCIAL / SEARCH */
header .shell section.social-search { padding-top:48px; padding-right:50px; }

h2 { 
    display: block;
    font-size: 25px;
    color:orange;
    font-weight: bold;
}
ul#menu li {
    display: inline;
}

ul#menu li a {
    color:white;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
    font-size: 20px;
    margin-top: 20px;
}

ul#menu li a:hover {
    background-color:#424242; 
    color:white;
}
ul#menu li a:active {
    background-color: black;
    color:gray;
}
nav#main {
    display: block;
    background-color:#FF9933; 
    max-height:60px; 
    margin-top:15px; 
    width:100%;
    color:white; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}
#welcome {
    width:500px;
    float:left;
    margin-left: 150px;
    text-align: justify;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 16px;
    line-height: 150%;
}
#specialty {
    width:500px;
    min-height:50%;
    margin-left: 650px;
    text-align: justify;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 16px;
    line-height: 150%;
}
#about {
    margin:auto;
    width:75%;
    text-align: justify;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 16px;
    line-height: 150%;
    /*padding-bottom: 20px;*/
    min-height:100%;
}
.textwrapleft {
    float:left;
    margin-right:20px;
}
.textwrapright{
    float:right;
    margin-left:20px;
}
footer {
    max-height:60px;
    background-color:#FF9933; 
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    margin:auto;
}
footer #text {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

